* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #303133;
    background-color: #f9f9f9;
    font: 400 14px/24px Lato,Meiryo,sans-serif;
}
ul {
    list-style: none;
}
[color~=danger] {
    color: #DB414E;
}
[color~=primary] {
    color: #1473B7;
}
.link {
    cursor: pointer;
}
.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 0;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
}
.txt-dash {
    white-space: nowrap !important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}
.txt-row-dash {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word !important;
    word-break: break-word !important;
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    &.l3 {
        -webkit-line-clamp: 3;
    }
}